/* Reset de Estilos y Config base */
*{
    margin: 0; /*Los 4 lados tienen el mismo valor*/
    padding: 0;
    box-sizing: border-box; /*El ancho y alto de los elementos incluye el padding y el borde*/
}

body{
    font-family: "Arial", sans-serif;
    line-height: 1.6; /*Altura de línea para mejorar la legibilidad*/
    background-color: #f4f4f4; /*Color de fondo gris claro*/
    color: #000000; /*Color del texto gris oscuro*/
}

.container{
    max-width: 1200px; /*Ancho máximo del contenedor*/
    margin: 0 auto; /*Centrar el contenedor horizontalmente*/
    padding: 0 20px;
}

/* Encabezado y Navegacion */
#header{
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
}

#header h1{
    font-size: 2rem;
    font-weight: 300px;
}

nav{
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: #f4f4f4;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #007bff;
}