#container{
    width: 700px;
    height: 1000px;
    border: 2px solid black;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

#box1{
    background-color: red;
    position: static;
}

#box2{
    background-color: green;
    position: relative;
    top: 50px;
    left: 110px;
}

#box3{
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 900px;
}

#box4{
    background-color: yellow;
    position: fixed;
    top: 300px;
    left: 500px;
}

#box5{
    background-color: purple;
    position: sticky;
    top: 0px;
    left: 600px;
}